<div class="container-fluid bg-white"> 
    <div class="container">
        <div class="bg-white">
            <div class="row">
                <div class="Col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12 ">
                    <h1>Contact</h1>
                    <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur veniam impedit natus, quaerat ducimus voluptates corrupti enim perspiciatis dolorum! Et eaque architecto voluptas, earum ipsam officia accusantium eveniet alias provident?</p>
                    <div class="row">
                        <div class="Col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xl-3 "></div>
                        <div class="Col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xl-6  bg-light border p-2">
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Your E-mail</label>
                                <div class="Col-lg-10 col-md-10 col-sm-10 col-xs-10 col-xl-10 ">
                                <input type="email" readonly class="form-control" id="staticEmail" value="Your Email">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Your mensage</label>
                                <div class="Col-lg-10 col-md-10 col-sm-10 col-xs-10 col-xl-10 ">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" value="Please enter your mensage here..."></textarea>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary float-end">Submit</button>
                        </div>
                        <div class="Col-lg-3 col-md-3col-sm-3 col-xs-3 col-xl-3 "></div>
                    </div>
                    <div class="py-5">
                    <p>Copyright &copy; Your Website Name 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  