<div class="container-fluid bg-1 bg-light ">
    <div class="row py-5">
        <div class="Col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xl-2 "></div>
        <div class="Col-lg-5 col-md-5 col-sm-5 col-xs-5 col-xl-5  ">
            <div class="d-flex">
            <div class="p-1">
                
            <h1>This First Heading  </h1></div> <div><h1 class="p-1 text-secondary"> Will Catch Your Eyes</h1></div>
            
            </div> 
            <p class="fs-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim fugiat aspernatur quas non veniam assumenda? Consequatur excepturi, voluptas doloribus corporis illo odit, quidem harum quis, earum incidunt voluptate facere accusantium!</p>
        </div>
            <div class="Col-lg-4 col-md-4 col-sm-4 col-xs-4 col-xl-4 ">
                <img class="rounded-circle img-fluid" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fc0%2Fff%2F5d%2Fc0ff5d1faebdbf9f9a8ead70fdd9ddaa--heisenberg-breaking-bad.jpg&f=1&nofb=1" style="display:inline" alt="Bird" width="350" height="350">
            </div>
            <div class="Col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xl-3 "></div>
        </div>
        
    
</div>