<!-- your html code here -->

<div class="container-fluid px-4 py-5 bg-light">
 <div class="container">
    <h1 class="pb-2 border-bottom">Portfolio</h2>
        <p class="fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ipsum nam perspiciatis non, sapiente quisquam voluptatibus autem labore voluptas, repellendus repellat suscipit. Sapiente, hic natus minima nihil architecto cumque similique.</p>
    <div class="row">
      <div class="feature col">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://github.com/dnlg88/exercise-collaborative-html-website/blob/master/website/assets/img/big-project-image.png?raw=true" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Featured title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="feature col">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://github.com/dnlg88/exercise-collaborative-html-website/blob/master/website/assets/img/big-project-image.png?raw=true" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Featured title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="feature col">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://github.com/dnlg88/exercise-collaborative-html-website/blob/master/website/assets/img/big-project-image.png?raw=true" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Featured title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    </div>
</div>
  </div>
