<!-- your html code here -->
<div class="container-fluid bg-1 bg-light ">
    <div class="row py-5">
        <div class=" "></div>
        
            <div class="Col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xl-6">
                <img class="rounded-circle  float-end" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Ffree-photo%2Ftop-view-business-man-hands-working-laptop-tablet-pc-wooden-desk_1423-277.jpg&f=1&nofb=1" style="display:inline" alt="Bird" width="350" height="350">
            </div>
            
            <div class="Col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xl-6 m-6">
                <div class="d-flex">
                <div class="p-1">
                    
                <h1>This Second Heading  </h1></div> <div><h1 class="p-1 text-secondary"> Is Pretty Cool Too</h1></div>
                
                </div> 
                <p class="fs-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim fugiat aspernatur quas non veniam assumenda? Consequatur excepturi, voluptas doloribus corporis illo odit, quidem harum quis, earum incidunt voluptate facere accusantium!</p>
            </div>
            <div class="Col-lg-5 col-md-5 col-sm-5 col-xs-5 col-xl-5"></div>
        </div>
        
    
</div>